<div class="container">
    <h3 class="text-center mt-5">Deletar postagem?</h3>
    <div class="d-flex">
        <div class="card-body">
        <div class="card-title"><h4>{{produto.nome}}</h4>
        </div>
        <hr>

        <div>
           <img class="img" src="{{produto.urlImg}}" alt="">

        </div>
        <hr>
        <div>
            <span>Preço: {{produto.preco}},00 R$</span>

        </div>
        <hr>
        <div>
            <span>Quantidade: {{produto.descricao}}</span>

        </div>
        <hr>
        <div class="justify-content-beetwen">
            <button class="btn btn-outline-danger mr-5" (click)="btnSim()">Sim</button>
            <button class="btn btn-outline-primary" (click)="btnNao()">Nao</button>
        </div>
    </div>
 
    
    
  </div>
</div>